Source: cbpp-pipemenus
Section: misc
Priority: extra
Maintainer: Ben Young <computermouth@crunchbangplusplus.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://crunchbangplusplus.org/

Package: cbpp-pipemenus
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openbox, zenity, terminator, wget, compton, curl, tar, python, python-paramiko, mesa-utils
Description: various Openbox pipemenus.
 Contains various Openbox pipemenus for use with
 CBPP.
